.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-noto {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
}

.font-robo {
    font-family: 'Roboto', sans-serif;
}

.cont-font {
    font-weight: bold;
    font-size: 20px;
    color: black;
    font-family: 'Noto Sans', sans-serif;
}

.cont_C-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}